
.ipynb_checkpoints/00-Warm-Up-Project-Exercises-checkpoint.ipynb
.ipynb_checkpoints/python-workbook-functions-checkpoint.ipynb
.ipynb_checkpoints/python-workbook-loops-checkpoint.ipynb
.ipynb_checkpoints/python-workbook-dictionary-checkpoint.ipynb
.ipynb_checkpoints/python-workbook-lists-checkpoint.ipynb
.ipynb_checkpoints/python-workbook-if-statements-checkpoint.ipynb
.DS_Store
.ipynb_checkpoints/python-workbook-recursion-checkpoint.ipynb
.ipynb_checkpoints/python-workbook-file_and_exception-checkpoint.ipynb
.ipynb_checkpoints/intro-ML-python-checkpoint.ipynb
