
.ipynb_checkpoints/Exercises-checkpoint.ipynb
.ipynb_checkpoints/Assessments-checkpoint.ipynb
.ipynb_checkpoints/00-Warm-Up-Project-Exercises copy-checkpoint.ipynb
.ipynb_checkpoints/02-Object Oriented Programming Homework-Copy1-checkpoint.ipynb
